---
layout: product-page-layout
---

<!-- Wrapper -->

<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
	
	<nav>
            <ul class="topnav" id="myTopnav">
                <li><a href="#"><span>Guides & Presets</span></a></li>
                <li><a href="https://www.redbubble.com/people/fotoreedus/portfolio" target="_blank"><span>Prints</span></a></li>
                <li><a href="https://fotoreedus.github.io/blog" target="_blank"><span>Blog</span></a></li>
		<li><a href="#footer" class="icon fa-info-circle">About</a></li>
		<li class="about-mobile"><a href="#footer" class="icon fa-info-circle"></a></li>
		<li class="hamburger"><a class="btn-open" href="#"></a></li>      
	    </ul>
		
		
        </nav>
	    

</div>

<!-- Mobile Menu overlay -->    

<div class="overlay">
	<div class="wrap">
		<ul class="wrap-nav">
			<li><a href="#"><span>Guides & Presets</span></a></li>
                	<li><a href="https://www.redbubble.com/people/fotoreedus/portfolio" target="_blank"><span>Prints & Products</span></a></li>
                	<li><a href="https://fotoreedus.github.io/blog" target="_blank"><span>Blog</span></a></li>
			
			<!-- old nav --
			
			<li><a href="#">About</a>
			<ul>
				<li><a href="#">About Company</a></li>
				<li><a href="#">Designers</a></li>
				<li><a href="#">Developers</a></li>
				<li><a href="#">Pets</a></li>
			</ul>
			</li>
			<li><a href="#">Services</a>
			<ul>
				<li><a href="https://www.google.hr/">Web Design</a></li>
				<li><a href="#">Development</a></li>
				<li><a href="#">Apps</a></li>
				<li><a href="#">Graphic design</a></li>
				<li><a href="#">Branding</a></li>
			</ul>
			</li>
			<li><a href="#">Work</a>
			<ul>
				<li><a href="#">Web</a></li>
				<li><a href="#">Graphic</a></li>
				<li><a href="#">Apps</a></li>
			</ul>
			</li>
			
			-- old nav -->	
			
		</ul>	

		<div class="social">
			<a href="https://www.facebook.com/fotoreedus/">
			<div class="social-icon">
				<i class="fa fa-facebook"></i>
			</div>
			</a>
			<a href="https://500px.com/fotoreedus">
			<div class="social-icon">
				<i class="fa fa-500px"></i>
			</div>
			</a>
			<a href="https://www.instagram.com/fotoreedus/">
			<div class="social-icon">
				<i class="fa fa-instagram"></i>
			</div>
			</a>
			<a href="https://twitter.com/reedus33">
			<div class="social-icon">
				<i class="fa fa-twitter"></i>
			</div>
			</a>
			<a href="https://github.com/Reed33">
			<div class="social-icon">
				<i class="fa fa-github"></i>
			</div>
			</a>
			<a href="https://www.linkedin.com/in/reed33/">
			<div class="social-icon">
				<i class="fa fa-linkedin"></i>
			</div>
			</a>
			<p>
				From: Canada<br>
				 Site: <a href="https://fotoreedus.github.io">fotoreedus.github.io</a>
			</p>
		
		</div>
	</div>
</div>	
	
	
</header>

   <!-- Main -->
    
<ul id="cd-gallery-items" class="cd-container">
		<li>
			<ul class="cd-item-wrapper">
				<li class="cd-item-front"><a href="#0"><img src="img/thumb-1.jpg" alt="Preview image"></a></li>
				<li class="cd-item-middle"><a href="#0"><img src="img/thumb-2.jpg" alt="Preview image"></a></li>
				<li class="cd-item-back"><a href="#0"><img src="img/thumb-3.jpg" alt="Preview image"></a></li>
				<li class="cd-item-out"><a href="#0"><img src="img/thumb-4.jpg" alt="Preview image"></a></li>
				<!-- <li class="cd-item-out">...</li> -->
			</ul> <!-- cd-item-wrapper -->

			<div class="cd-item-info">
				<b><a href="#0">Product Name</a></b>
				<em>$9.99</em>
			</div> <!-- cd-item-info -->

			<nav>
				<ul class="cd-item-navigation">
					<li><a class="cd-img-replace" href="#0">Prev</a></li>
					<li><a class="cd-img-replace" href="#0">Next</a></li>
				</ul>
			</nav>

			<a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
		</li>

		<li>
			<ul class="cd-item-wrapper">
				<li class="cd-item-front"><a href="#0"><img src="img/thumb-2.jpg" alt="Preview image"></a></li>
				<li class="cd-item-middle"><a href="#0"><img src="img/thumb-3.jpg" alt="Preview image"></a></li>
				<li class="cd-item-back"><a href="#0"><img src="img/thumb-1.jpg" alt="Preview image"></a></li>
			</ul> <!-- cd-item-wrapper -->

			<div class="cd-item-info">
				<b><a href="#0">Product Name</a></b>
				<em>$9.99</em>
			</div> <!-- cd-item-info -->

			<nav>
				<ul class="cd-item-navigation">
					<li><a class="cd-img-replace" href="#0">Prev</a></li>
					<li><a class="cd-img-replace" href="#0">Next</a></li>
				</ul>
			</nav>

			<a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
		</li>

		<li>
			<ul class="cd-item-wrapper">
				<li class="cd-item-front"><a href="#0"><img src="img/thumb-3.jpg" alt="Preview image"></a></li>
				<li class="cd-item-middle"><a href="#0"><img src="img/thumb-1.jpg" alt="Preview image"></a></li>
				<li class="cd-item-back"><a href="#0"><img src="img/thumb-2.jpg" alt="Preview image"></a></li>
			</ul> <!-- cd-item-wrapper -->

			<div class="cd-item-info">
				<b><a href="#0">Product Name</a></b>
				<em>$9.99</em>
			</div> <!-- cd-item-info -->

			<nav>
				<ul class="cd-item-navigation">
					<li><a class="cd-img-replace" href="#0">Prev</a></li>
					<li><a class="cd-img-replace" href="#0">Next</a></li>
				</ul>
			</nav>

			<a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
		</li>

		<li>
			<ul class="cd-item-wrapper">
				<li class="cd-item-front"><a href="#0"><img src="img/thumb-4.jpg" alt="Preview image"></a></li>
				<li class="cd-item-middle"><a href="#0"><img src="img/thumb-1.jpg" alt="Preview image"></a></li>
				<li class="cd-item-back"><a href="#0"><img src="img/thumb-2.jpg" alt="Preview image"></a></li>
			</ul> <!-- cd-item-wrapper -->

			<div class="cd-item-info">
				<b><a href="#0">Product Name</a></b>
				<em>$9.99</em>
			</div> <!-- cd-item-info -->

			<nav>
				<ul class="cd-item-navigation">
					<li><a class="cd-img-replace" href="#0">Prev</a></li>
					<li><a class="cd-img-replace" href="#0">Next</a></li>
				</ul>
			</nav>

			<a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
		</li>

		<li>
			<ul class="cd-item-wrapper">
				<li class="cd-item-front"><a href="#0"><img src="img/thumb-1.jpg" alt="Preview image"></a></li>
				<li class="cd-item-middle"><a href="#0"><img src="img/thumb-2.jpg" alt="Preview image"></a></li>
				<li class="cd-item-back"><a href="#0"><img src="img/thumb-3.jpg" alt="Preview image"></a></li>
			</ul> <!-- cd-item-wrapper -->

			<div class="cd-item-info">
				<b><a href="#0">Product Name</a></b>
				<em>$9.99</em>
			</div> <!-- cd-item-info -->

			<nav>
				<ul class="cd-item-navigation">
					<li><a class="cd-img-replace" href="#0">Prev</a></li>
					<li><a class="cd-img-replace" href="#0">Next</a></li>
				</ul>
			</nav>

			<a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
		</li>

		<li>
			<ul class="cd-item-wrapper">
				<li class="cd-item-front"><a href="#0"><img src="img/thumb-2.jpg" alt="Preview image"></a></li>
				<li class="cd-item-middle"><a href="#0"><img src="img/thumb-3.jpg" alt="Preview image"></a></li>
				<li class="cd-item-back"><a href="#0"><img src="img/thumb-1.jpg" alt="Preview image"></a></li>
			</ul> <!-- cd-item-wrapper -->

			<div class="cd-item-info">
				<b><a href="#0">Product Name</a></b>
				<em>$9.99</em>
			</div> <!-- cd-item-info -->

			<nav>
				<ul class="cd-item-navigation">
					<li><a class="cd-img-replace" href="#0">Prev</a></li>
					<li><a class="cd-img-replace" href="#0">Next</a></li>
				</ul>
			</nav>

			<a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
		</li>

		<li>
			<ul class="cd-item-wrapper">
				<li class="cd-item-front"><a href="#0"><img src="img/thumb-3.jpg" alt="Preview image"></a></li>
				<li class="cd-item-middle"><a href="#0"><img src="img/thumb-2.jpg" alt="Preview image"></a></li>
				<li class="cd-item-back"><a href="#0"><img src="img/thumb-4.jpg" alt="Preview image"></a></li>
			</ul> <!-- cd-item-wrapper -->

			<div class="cd-item-info">
				<b><a href="#0">Product Name</a></b>
				<em>$9.99</em>
			</div> <!-- cd-item-info -->

			<nav>
				<ul class="cd-item-navigation">
					<li><a class="cd-img-replace" href="#0">Prev</a></li>
					<li><a class="cd-img-replace" href="#0">Next</a></li>
				</ul>
			</nav>

			<a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
		</li>

		<li>
			<ul class="cd-item-wrapper">
				<li class="cd-item-front"><a href="#0"><img src="img/thumb-4.jpg" alt="Preview image"></a></li>
				<li class="cd-item-middle"><a href="#0"><img src="img/thumb-1.jpg" alt="Preview image"></a></li>
				<li class="cd-item-back"><a href="#0"><img src="img/thumb-2.jpg" alt="Preview image"></a></li>
			</ul> <!-- cd-item-wrapper -->

			<div class="cd-item-info">
				<b><a href="#0">Product Name</a></b>
				<em>$9.99</em>
			</div> <!-- cd-item-info -->

			<nav>
				<ul class="cd-item-navigation">
					<li><a class="cd-img-replace" href="#0">Prev</a></li>
					<li><a class="cd-img-replace" href="#0">Next</a></li>
				</ul>
			</nav>

			<a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
		</li>

		<li>
			<ul class="cd-item-wrapper">
				<li class="cd-item-front"><a href="#0"><img src="img/thumb-1.jpg" alt="Preview image"></a></li>
				<li class="cd-item-middle"><a href="#0"><img src="img/thumb-2.jpg" alt="Preview image"></a></li>
				<li class="cd-item-back"><a href="#0"><img src="img/thumb-3.jpg" alt="Preview image"></a></li>
			</ul> <!-- cd-item-wrapper -->

			<div class="cd-item-info">
				<b><a href="#0">Product Name</a></b>
				<em>$9.99</em>
			</div> <!-- cd-item-info -->

			<nav>
				<ul class="cd-item-navigation">
					<li><a class="cd-img-replace" href="#0">Prev</a></li>
					<li><a class="cd-img-replace" href="#0">Next</a></li>
				</ul>
			</nav>

			<a class="cd-3d-trigger cd-img-replace" href="#0">Open</a>
		</li>
	</ul> <!-- cd-gallery-items -->



    <!-- Footer -->
    <footer id="footer" class="panel">
        <div class="inner split">
            <div>
                <section>
                    <h2>{{ site.footer.name }}</h2>
                    <p>{{ site.footer.bio }}</p>
                    <p>{{ site.footer.github }}</p>
                </section>
                <section>
                    <h2>Sponsor</h2>
                    <div class="ad">
                        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                        <ins class="adsbygoogle"
                             style="display:block; text-align:center;"
                             data-ad-layout="in-article"
                             data-ad-format="fluid"
                             data-ad-client="ca-pub-1702577941194110"
                             data-ad-slot="9823584598"></ins>
                        <script>
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        </script>
                    </div>
                </section>
                <section>
                    <h2>Follow me on ...</h2>
                    <ul class="icons">
                        {% if site.social_urls.facebook %}
                            <li>
                                <a href="{{ site.social_urls.facebook }}" target="_blank" class="icon fa-facebook">
                                    <span class="label">Facebook</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.500px %}
                            <li>
                                <a href="{{ site.social_urls.500px }}" target="_blank" class="icon fa-500px">
                                    <span class="label">500px</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.instagram %}
                            <li>
                                <a href="{{ site.social_urls.instagram }}" target="_blank" class="icon fa-instagram">
                                    <span class="label">Instagram</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.dribbble %}
                            <li>
                                <a href="{{ site.social_urls.dribbble }}" target="_blank" class="icon fa-dribbble">
                                    <span class="label">Dribbble</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.twitter %}
                            <li>
                                <a href="{{ site.social_urls.twitter }}" target="_blank" class="icon fa-twitter">
                                    <span class="label">Twitter</span>
                                </a>
                            </li>
                        {% endif %}
			{% if site.social_urls.github %}
                            <li>
                                <a href="{{ site.social_urls.github }}" target="_blank" class="icon fa-github">
                                    <span class="label">GitHub</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if site.social_urls.linkedin %}
                            <li>
                                <a href="{{ site.social_urls.linkedin }}" target="_blank" class="icon fa-linkedin">
                                    <span class="label">LinkedIn</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </section>
                <p class="copyright">
                    &copy; {{ site.author }}. Design: {{ site.web_design }}
                </p>
            </div>
            <div>
                <section>
                    <h2>Get in touch</h2>
                    <form method="post" action="#">
                        <div class="field half first">
                            <input type="text" name="name" id="name" placeholder="Name"/>
                        </div>
                        <div class="field half">
                            <input type="text" name="email" id="email" placeholder="Email"/>
                        </div>
                        <div class="field">
                            <textarea name="message" id="message" rows="4" placeholder="Message"></textarea>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send" class="special"/></li>
                            <li><input type="reset" value="Reset"/></li>
                        </ul>
                    </form>
                </section>
            </div>
        </div>
    </footer>
</div>
