/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

.product_page_css html, 
.product_page_css body, 
.product_page_css div, 
.product_page_css span, 
.product_page_css applet, 
.product_page_css object, 
.product_page_css. iframe,
.product_page_css h1, 
.product_page_css h2, 
.product_page_css h3, 
.product_page_css h4, 
.product_page_css h5, 
.product_page_css h6, 
.product_page_css p, 
.product_page_css blockquote, 
.product_page_css pre,
.product_page_css a, 
.product_page_css abbr, 
.product_page_css acronym, 
.product_page_css address, 
.product_page_css big, 
.product_page_css cite, 
.product_page_css code, 
.product_page_css del, 
.product_page_css dfn, 
.product_page_css em, 
.product_page_css img, 
.product_page_css ins, 
.product_page_css kbd, 
.product_page_css q, 
.product_page_css s, 
.product_page_css samp,
.product_page_css small, 
.product_page_css strike,
.product_page_css strong,
.product_page_css sub,
.product_page_css sup,
.product_page_css tt,
.product_page_css var,
.product_page_css b, 
.product_page_css u, 
.product_page_css i, 
.product_page_css center,
.product_page_css dl, 
.product_page_css dt, 
.product_page_css dd, 
.product_page_css ol,
.product_page_css ul,
.product_page_css li,
.product_page_css fieldset,
.product_page_css form,
.product_page_css label, 
.product_page_css legend,
.product_page_css table,
.product_page_css caption,
.product_page_css tbody,
.product_page_css tfoot,
.product_page_css thead,
.product_page_css tr,
.product_page_css th,
.product_page_css td,
.product_page_css article,
.product_page_css aside,
.product_page_css canvas,
.product_page_css details,
.product_page_css embed,
.product_page_css figure,
.product_page_css figcaption,
.product_page_css footer,
.product_page_css header,
.product_page_css hgroup,
.product_page_css menu,
.product_page_css nav,
.product_page_css output,
.product_page_css ruby,
.product_page_css section,
.product_page_css summary,
.product_page_css time,
.product_page_css mark,
.product_page_css audio,
.product_page_css video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ul {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	font-size: 100% !important;
	font: inherit !important;
	vertical-align: baseline !important;
}

li {
	margin: 0 !important;
	padding: 0 !important;
	border: 0 !important;
	font-size: 100% !important;
	font: inherit !important;
	vertical-align: baseline !important;
}


/* HTML5 display-role reset for older browsers */
.product_page_css article,
.product_page_css aside,
.product_page_css details,
.product_page_css figcaption,
.product_page_css figure,
.product_page_css footer,
.product_page_css header,
.product_page_css hgroup,
.product_page_css menu,
.product_page_css nav,
.product_page_css section,
.product_page_css main {
	display: block !important;
}

.product_page_css body {
	line-height: 1;
}
.product_page_css ol,
.product_page_css ul {
	list-style: none;
}
.product_page_css blockquote,
.product_page_css q {
	quotes: none;
}
.product_page_css blockquote:before, 
.product_page_css blockquote:after,
.product_page_css q:before,
.product_page_css q:after {
	content: '';
	content: none;
}
.product_page_css table {
	border-collapse: collapse;
	border-spacing: 0;
}
