<!DOCTYPE HTML>
<html lang="en" class="no-js">
<head> 	
	{% include header.html %}
	
	<link rel="stylesheet" href="1-product-page/css/reset.css"> <!-- CSS reset -->    	
	<link rel="stylesheet" href="1-product-page/css/style.css"> <!-- Resource style -->
	
	<script src="1-product-page/js/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>3D Items Quick View</title>
</head>
<body class="page page-id-731">

    {{ content }}
    
    {% include footer.html %}
    
    <script src="1-product-page/js/jquery-2.1.1.js"></script>
    <script src="1-product-page/js/main.js"></script> <!-- Resource jQuery -->

</body>
</html>
