<!DOCTYPE HTML>
<html lang="en" class="no-js">
<head>
    {% include header.html %}
    	<link rel="stylesheet" href="assets/css-product/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="assets/css-product/style.css"> <!-- Resource style -->
	<script src="assets/js-product/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>3D Items Quick View</title>
</head>
<body class="page page-id-731">

    {{ content }}
    
    {% include footer.html %}
    
    <script src="assets/js-product/jquery-2.1.1.js"></script>
    <script src="assets/js-product/main.js"></script> <!-- Resource jQuery -->

</body>
</html>
